.chart-legend li span{
display: inline-block;
width: 12px;
height: 12px;
margin-right: 5px;
}
body{
font-family: 'Ubuntu', sans-serif;
}
.count{
text-align:center;
color:#264a60;
font-size: 4em;
}
/* Bob */
@-webkit-keyframes hvr-bob {
0% {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
}

50% {
-webkit-transform: translateY(-4px);
transform: translateY(-4px);
}

100% {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
}
}

@keyframes hvr-bob {
0% {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
}

50% {
-webkit-transform: translateY(-4px);
transform: translateY(-4px);
}

100% {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
}
}

@-webkit-keyframes hvr-bob-float {
100% {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
}
}

@keyframes hvr-bob-float {
100% {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);
}
}

.hvr-bob {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
-webkit-animation-name: hvr-bob-float, hvr-bob;
animation-name: hvr-bob-float, hvr-bob;
-webkit-animation-duration: .3s, 1.5s;
animation-duration: .3s, 1.5s;
-webkit-animation-delay: 0s, .3s;
animation-delay: 0s, .3s;
-webkit-animation-timing-function: ease-out, ease-in-out;
animation-timing-function: ease-out, ease-in-out;
-webkit-animation-iteration-count: 1, infinite;
animation-iteration-count: 1, infinite;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-direction: normal, alternate;
animation-direction: normal, alternate;
}
.footerText{

}
.boxShadow{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#signup{
background-color:#325c80;color:#ffffff;padding: 40px 10px; margin-top:40px;
}
.topHeader{
text-align:center;margin:0px 0px 30px;font-family: 'Arimo', sans-serif;font-size:2em; padding:10px;
}
.topHeaderSM{
padding:10px 0px 0px;text-align:center;margin:10px 0px 10px;font-family: 'Arimo', sans-serif;font-size:1.5em;
}
.signUpForm{
background-color:#fff; border-radius:3px;padding:10px 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);\
}
#sectionTwo{
background-color:#5aaafa
}
#secondHeader{
color:#ffffff;text-align:center;padding-top:40px;font-family: 'Arimo', sans-serif;font-size:3em;
}
#secondHeaderSM{
color:#ffffff;text-align:center;padding-top:20px;font-family: 'Arimo', sans-serif;font-size:2em;
}
.tableBox{
margin:40px 0px 60px;text-align:center; padding-bottom:10px; border-radius:3px; background-color:#fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center{
text-align: center;
}
.buttonCTA{
background-color:#325c80;color:#fff;
}
#sectionThree{
background-color:#1d3649;color:#ffffff;padding: 40px 0px;font-size:1em;
}
}
